@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('font/notosanskr.css');
@import url('../js/font-awesome/css/font-awesome.min.css');

body {min-width:320px;color:#333;font-size:14px;background-color:#fff}
#wrap {position:relative;overflow:hidden}
#wrap a {transition:color 400ms ease, background 400ms ease}
.blind {position:absolute;overflow:hidden;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px}
.container {width:100%;max-width:1280px;margin:0 auto}
.container:after {display:block;content:'';clear:both}

/* Header */
.header {position:relative;background-color:#333;background-image:linear-gradient(to right, #333333 0%, #222 100%);box-shadow:5px 0 10px rgba(0, 0, 0, 0.25)}
.header a {color:#aaa;font-family:'notokr-regular', sans-serif}
.header a:hover {color:#ff9800}
.header-toparea {padding:7px 0;font-size:12.5px;background-color:#242424;background-image:linear-gradient(to right, #292929 0%, #151515 100%)}
.header-toparea ul {overflow:hidden}
.header-toparea li {float:left}
.header-toparea li i {margin-right:6px}
.header-toparea .header-topinfo {float:left}
.header-toparea .header-topinfo li {margin-right:20px}
.header-toparea .header-language {float:right}
.header-toparea .header-language li {margin-left:20px}
.header-toparea .header-language li a.on {color:#ff9800}
.header-contents {padding:20px 0}
.header-contents .header-logo {float:left}

/* Navigation */
.nav__list li > a {line-height:30px;letter-spacing:1.5px;font-size:14px;font-weight:700;font-family:'Nunito', sans-serif;color:#fff}
.nav__list li.active > a {color:#ff9800}
.nav__list li > a:hover {color:#ff9800}
.gnb {float:right;margin:16px 2px 0 0}
.gnb .nav__list {overflow:hidden}
.gnb .nav__list li {float:left;margin-left:42px}
.gnb-mobile-btn,
.gnb-mobile,
.gnb-mobile-overlay {display:none}
.gnb-mobile-btn {float:right;width:47px;height:45px;margin-top:-6px;margin-right:-15px}
.gnb-mobile-btn img {width:100%}
.gnb-mobile-btn > a {display:block;width:100%;text-align:center}
.gnb-mobile > a i,
.gnb-mobile-btn > a i {font-size:22px;line-height:50px}
.gnb-mobile > a {display:block;width:50.5px;text-align:center}
.gnb-mobile {position:fixed;top:0;right:0;width:180px;height:100%;background-color:#333;z-index:100;transform:translateX(100%);transition:all 380ms ease}
.gnb-mobile.opened {transform:translateX(0)}
.gnb-mobile > a > img {width:50.5px;height:50.5px}
.gnb-mobile .nav__list {border-top:1px #444 solid}
.gnb-mobile .nav__list li:first-child {padding-top:10px}
.gnb-mobile .nav__list li img {width:100%}
.gnb-mobile .nav__list li > a {padding-left:20px;line-height:40px;font-weight:normal}
.gnb-mobile .nav__list li.active > a {font-weight:700}
.gnb-mobile-overlay {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:99}

/* Section Contents */
.post-item {background-color:#f5f5f5}
.post-item .post-item-img {margin:0 auto;max-width:1280px;text-align:center}
.post-item .post-item-img img {max-width:100%}
.post-item .post-item-img + .post-item-txt {padding:80px 0}
.post-item .post-item-txt {padding:5px 0 80px;background-color:#fff;text-align:center;word-break:break-word}
.post-item .post-item-txt .desc {margin:0 auto;max-width:1100px;padding:0 10px}
.post-item .post-item-txt .tit {padding:0 30px;margin-bottom:20px;font-size:42px;letter-spacing:-0.5px;font-family:'notokr-bold', sans-serif}
.post-item .post-item-txt .desc {padding:0 30px;font-size:17px;line-height:26px;font-family:'Nunito', sans-serif}
.post-item.lng-ko .post-item-txt .desc {font-family:'notokr-demilight', sans-serif}
.post-item .post-item-txt .desc > * {font-family:inherit}
.post-item .post-item-btn {display:inline-block;margin-top:30px}
.post-item .post-item-btn a {padding:10px 22px;border-radius:30px;color:#fff;background-color:#333}
.post-item .post-item-btn a:hover, .post-item .post-item-btn a:active {background-color:#f27d2e}
.post-item .post-item-btn i {margin-left:10px}
.post-item .iframe-container {position:relative;overflow:hidden;max-width:1280px;max-height:720px;margin:0 auto;padding-top:56.25%}
.post-item .iframe-container iframe {position:absolute;top:0;left:0;display:block;width:100%;height:100%;border:0}

/* Footer */
.footer {margin-top:90px;overflow:hidden;font-size:12.5px;background-color:#333;background-image:linear-gradient(to right, #333333 0%, #222 100%);box-shadow:5px 0 10px rgba(0, 0, 0, 0.25)}
.footer-contents {padding:30px 20px 25px}
.footer-contents ul {overflow:hidden}
.footer-contents li {float:left;font-family:'notokr-regular', sans-serif}
.footer-contents li i {margin-right:6px}
.footer-contents a:hover {color:#ff9800 !important}
.footer-contents .footer-logo {float:left;display:block;margin-bottom:5px}
.footer-contents .footer-nav {float:left;margin-left:22px}
.footer-contents .footer-nav li {position:relative;margin-right:24px}
.footer-contents .footer-nav li:first-child:before {display:none}
.footer-contents .footer-nav li:before {content:'';position:absolute;top:9px;left:-13px;display:block;width:1px;height:10px;background-color:#444}
.footer-contents .footer-nav li a {color:#aaa;line-height:28px;font-weight:700;font-family:'Nunito', sans-serif}
.footer-contents .footer-info {clear:both;padding-top:10px}
.footer-contents .footer-info li {margin-right:20px;color:#8a8a8a}
.footer-contents .footer-info li.location {float:none;display:block;margin-bottom:2px}
.footer-contents .footer-info li a {color:inherit}
.footer-contents .footer-info .copyright {position:relative;color:#8a8a8a;font-size:12.5px;font-family:'notokr-regular', sans-serif}
.footer-contents .footer-info .copyright:before {content:'';display:block;width:100%;height:1px;margin:7px 0;background-color:#444}

/* Popup_Common */
body.locked-scroll {height:100%;padding-right:16px;overflow:hidden}
body.locked-scroll .layerPopup {left:-8px}
.layerPopup {display:none;position:fixed;top:0;left:0;width:100%;height:100%;overflow-y:auto;z-index:300}
.layerPopup [class^='layer-btn'] {display:block;overflow:hidden;border:0;outline:none;cursor:pointer}
.layerPopup .layer-btn-close {position:absolute;top:-46px;right:0;width:34px;height:34px;text-align:left;text-indent:-9999px;background:url('../img/btn_close.png') no-repeat 0 0}
.layerPopup .layer-btn-confirm {display:inline-block;padding:8px 35px;border-radius:30px;color:#fff;font-size:15px;background-color:#f27d2e;transition:color 400ms ease, background 400ms ease}
.layerPopup .layer-btn-confirm:hover, .layerPopup .layer-btn-confirm:active {background-color:#333}
.layerPopup .layerBody {position:relative;margin:0 auto}
.layerPopup.inactive .layerBody:after {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.7}
.layerPopup.inactive .layer-btn-close {display:none}
.layerPopup .pop-title {padding:40px 35px 20px;text-align:left}
.layerPopup .pop-title > h3 {position:relative;display:inline-block;font-size:36px;letter-spacing:-0.5px;font-family:'notokr-black', sans-serif;text-transform:capitalize}
.layerPopup .pop-title > h3:before {display:block;content:'';position:absolute;bottom:11px;left:0;width:100%;height:3px;background-color:#f57e28;background-image:linear-gradient(60deg, #f57e28 0%, #fff179 100%)}
.overlay {display:none;position:fixed;z-index:299;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.8}
.layerPopup .pop-form {padding:0 35px;text-align:center}
.layerPopup .pop-form .pop-form-ipt {display:block;width:100%;margin-bottom:10px;padding:8px 10px;border:0;outline:none;font-size:14px;box-sizing:border-box;background-color:#ededed}
.layerPopup .pop-form textarea.pop-form-ipt {height:170px;margin-bottom:25px}

/* Popup_Custom */
#applyPop .layerBody {width:95%;height:470px;min-width:340px;max-width:500px;border-radius:10px;background-color:#fff}

/* ETC */
.privacy-contents {padding:30px 20px 0;font-size:13px}
.privacy-contents p, .privacy-contents ul, .privacy-contents dl, .privacy-contents dd {font-family:'notokr-demilight', sans-serif}
.privacy-contents h3, .privacy-contents h4, .privacy-contents h5 {font-weight:700;font-family:'notokr-regular'}
.privacy-contents h3 {font-size:17px}
.privacy-contents h4 {font-size:15px}
.privacy-contents h5 {font-size:14px}
.privacy-contents h5 + dl {padding:2px 0 10px}
.privacy-contents p,
.privacy-contents ul {margin-bottom:15px}
.privacy-contents dl {overflow:hidden}
.privacy-contents dl dt {clear:left;width:80px;font-family:'notokr-regular'}
.privacy-contents dl dt,
.privacy-contents dl dd {display:block;float:left}
.privacy-contents li dl dt,
.privacy-contents li dl dd {text-indent:20px}

#slider {position:relative}
#slider > div, .slider-wrap {position:relative;max-width:1280px;margin:0 auto}
.slider-btn {position:absolute;bottom:17%;left:7%;padding:14px 40px;border-radius:30px;color:#fff;background-color:#f27d2e;font-size:18px;font-family:'Nunito', sans-serif}
.slider-btn:hover, .slider-btn a:active {background-color:#333}
.slider li {background-size:100%;background-repeat:no-repeat}
.slider li img {width:100%;visibility:hidden}

.bx-wrapper {position:relative}
.bx-wrapper .bx-controls {position:absolute;width:100%;bottom:15px;left:0}
.bx-wrapper .bx-pager {text-align:center}
.bx-wrapper .bx-pager .bx-pager-item {display:inline-block;margin:0 7.5px}
.bx-wrapper .bx-pager a {display:inline-block;width:10px;height:10px;background-color:#6d6d6d;border:3px #fff solid;border-radius:15px;text-indent:-10000000px}
.bx-wrapper .bx-pager a.active {background-color:#f47c2f}

/* 게시판 */
.bo-banner {display:block;width:100%;text-align:center;margin:0 auto;background-color:#f5f5f5}
.bo-banner img {width:100%;max-width:1280px}
#mopicBoard {max-width:1180px;margin:0 auto;padding:0 30px}

#mpalyerV01 {position:absolute;bottom:115px;left:110px;opacity:0;margin-left:-30px}
#mpalyerV02 {position:absolute;bottom:285px;left:294px;opacity:0;margin-left:-30px}
#mpalyerV03 {position:absolute;bottom:115px;left:340px;opacity:0;margin-left:-30px}
#mpalyerV04 {position:absolute;bottom:291px;left:536px;opacity:0;margin-left:-30px}
#mpalyerV05 {position:absolute;bottom:0;right:0;opacity:0;margin-left:-30px}
#mpalyerV06 {position:absolute;bottom:64px;right:315px;transform:scale(0)}

#mplayer01 {background-color:#242424}
#mplayer01 > div {width:1280px;margin:0 auto;text-align:center;padding:75px 0 35px 0}
#mplayer01 > div > img {display:block;margin:0 auto}
#mplayer01 > div > img:nth-child(2) {margin:50px auto 100px auto}
#mplayer01 > div > img:nth-child(4) {margin:75px auto 40px auto}

#mplayer01 > div > span {display:block;margin:0 auto}
#mplayer01 > div > span:nth-child(2) {margin:50px auto 100px auto}
#mplayer01 > div > span:nth-child(4) {margin:75px auto 40px auto}

#mplayer01 ul {display:inline-block}
#mplayer01 ul li {float:left;margin:0 45px}

#mplayer02 {background-color:#242424}
#mplayer02 > div {width:1280px;margin:0 auto;text-align:center}
#mplayer02 > div > img:nth-child(1) {margin-bottom:1px}
#mplayer02 > div > img:nth-child(2) {margin-right:1px}

#mplayer03 {background-color:#242424}
#mplayer03 > div {width:1280px;margin:0 auto;text-align:center;padding:110px 0 150px 0}
#mplayer03 span {width:700px;margin:0 auto;display:block;margin-top:20px}
#mplayer03 span:nth-child(5) {margin-bottom:35px}
#mplayer03 img {margin-bottom:50px}

#mplayer04 {background-color:#242424}
#mplayer04 > div {width:1280px;margin:0 auto;text-align:center;padding:0 0 45px 0}

#support01 {background-color:#fff}
#support01 > div {width:952px;margin:0 auto;text-align:center;padding:60px 0 0}

#downList {overflow:hidden}
#downList > li {width:45.5%;float:right}
#downList > li:first-child {float:left}
#downList > li > span {font-size:18px;color:#f27d2e;line-height:50px;display:block;text-align:left}
#downList > li > ul {overflow:hidden}
#downList > li > ul > li {float:left}
#downList > li > ul > li:nth-child(2) {float:right}

#snapV01 {opacity:0;margin-left:-30px;position:absolute;bottom:40px;left:440px}
#snapV02 {opacity:0;position:absolute;bottom:40px;left:440px}
#snapV03 {opacity:0;margin-left:30px;position:absolute;bottom:40px;left:440px}
#snapV04 {opacity:0;margin-left:-30px;position:absolute;bottom:107px;left:153px}
#snapV05 {opacity:0;margin-left:30px;position:absolute;bottom:397px;left:735px}

#snap01 {background-color:#242424}
#snap01 > div {width:1280px;margin:0 auto;text-align:center;padding:105px 0 90px 0}

#snap02 {background:url("../img/snap/bg_02.jpg") repeat-x}
#snap02 > div {width:1280px;margin:0 auto;text-align:center}

#snap03 {background-color:#242424}
#snap03 > div {width:1280px;margin:0 auto;text-align:center;padding:60px 0 100px 0}

#snap04 {background-color:#242424}
#snap04 > div {width:1280px;margin:0 auto;text-align:center}
#snap04 img {border-bottom:1px #fff solid}
#snap04 ul {overflow:hidden;margin:0 auto}
#snap04 ul li {float:left;border-left:1px #fff solid}
#snap04 ul li:first-child {border-left:0}

#snap3DCont01 {width:730px;overflow:hidden;margin:0 auto}
#snap3DCont01 strong {display:block;line-height:44px;font-weight:normal;text-align:center;letter-spacing:-1px;padding-bottom:30px}
#snap3DCont01 ul {text-align:left}
#snap3DCont02 ul {width:calc(100%);text-align:left;width:730px;margin:30px auto 0 auto}
#mplayerCont02 ul {width:calc(100%);text-align:left;width:780px;margin:20px auto}

.textTypeTtl01 {font-family:'Noto Sans KR';font-size:44px;color:#ed7c23;display:block}
.textTypeTtl02 {font-family:'Noto Sans KR';font-size:55px;color:#ed7c23;display:block}
.textTypeCont01 {font-family:'Nanum Gothic';font-size:18px;color:#ed7c23;display:block;line-height:30px}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;max-width:1280px;height:0;width:100%}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff;font-size:12px}

/* 게시물 선택복사 선택이동 */
#copymove {}
.copymove_current {float:right;color:#ff3061}
.copymove_currentbg {background:#f4f4f4}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {position:absolute;top:0;left:161px;;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:31px;height:31px;background:url('../img/captcha.png') no-repeat;}
#captcha #captcha_reload {position:absolute;top:31px;left:161px;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../img/captcha.png') no-repeat  0 -30px;border-top:1px solid #ccc;text-indent:-999px}
#captcha #captcha_key {margin:0 0 0 33px;padding:0 5px;width:70px;height:60px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:2.8em;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;margin-bottom:3px;margin-top:5px;display:block;}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha.png') no-repeat  0 -30px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span{display:none;}
#captcha.m_captcha #captcha_key {margin:0;padding:0 5px;width:115px;height:29px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:29px;margin-left:3px}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../img/captcha.png') no-repeat; vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 버튼 */
a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}
.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_submit {padding:8px;border:0;background:#ff3061;color:#fff;letter-spacing:-0.1em;cursor:pointer}
fieldset .btn_submit {padding:0 7px;height:24px;line-height:1em}
a.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}
a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:24px;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {line-height:24px}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;padding:7px;border:1px solid #d9ded9;background:#f2f5f9;color:#000;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, .btn_b01:hover {text-decoration:none}
a.btn_b02 {display:inline-block;padding:7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn_b02:focus, .btn_b02:hover {text-decoration:none}
a.btn_admin {display:inline-block;padding:7px;border:1px solid #e8180c;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none}

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}
.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:12px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:8px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}
.tbl_head01 a {}
.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_frm01 textarea, .frm_input {border:1px solid #e4eaec;background:#f7f7f7;color:#000;vertical-align:middle;line-height:2em}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:22px}
.tbl_frm01 textarea {width:98%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 필수입력 */
.required, textarea.required {background:url('../img/wrest.gif') #f7f7f7 top right no-repeat !important}

/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {margin:0 0 20px;padding:20px;border-top:3px solid #333;border-bottom:1px solid #dde4e9;background:#fff;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:'notokr-medium', sans-serif;font-weight:bold;text-decoration:none}
.new_win .win_desc {padding:20px}
.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:0;background:#4b545e;color:#fff;line-height:2em;cursor:pointer}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}

/* 검색결과 색상 */
.sch_word {color:#ff3061}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* Mobile화면으로 */
#device_change {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}

/*메일인증*/
.rg_em{margin-top:5px}
.rg_em caption{padding:0;font-size:0;line-height:0;overflow:hidden}

/*캡챠 모바일에서 피시버젼*/
#captcha.m_captcha audio{display:block;margin:5px 0 10px;}
#captcha.m_captcha #captcha_key{margin-left:3px }
#captcha.m_captcha #captcha_reload span{background:none;display:inline}
#captcha.m_captcha  #captcha_reload {position:relative ;width:auto;top:0;left:0;margin:0;padding:0 10px;height:43px;border:0;background:#e4eaec;vertical-align:middle;overflow:hidden;cursor:pointer}

@media screen and (min-width:1280px) {
	.post-item .iframe-container {width:1280px;height:720px;padding-top:0}
}
@media screen and (max-width:1319px) {
	.header-toparea,
	.header-contents {padding-left:20px;padding-right:20px}
	.gnb .nav__list li {margin-left:30px}
}
@media screen and (max-width:960px) {
	.header-contents {padding-bottom:10px}
	.footer {margin-top:50px}
	.gnb {float:none;clear:both;padding-top:12px;margin-left:-30px}
	.gnb .nav__list li {margin-left:30px}
	.gnb .nav__list li > a {font-size:13px}
	.post-item .post-item-img + .post-item-txt {padding:60px 0 70px}
	.post-item .post-item-txt {padding:0 0 40px}
	
	.post-item iframe {position:absolute;top:0;left:0;width:100%;height:100%}
	.slider-btn {bottom:10%}
}
@media screen and (max-width:720px) {
	.header-toparea {padding-top:5px;padding-bottom:5px}
	.header-toparea .header-topinfo {display:none}
	.header-contents {padding-top:10px}
	.header-contents .header-logo {width:90px;margin-top:3px}
	.header-contents .header-logo img {max-width:100%}
	.footer-contents .footer-nav {float:none;clear:both;margin-left:0}
	.gnb {display:none}
	.gnb-mobile-btn,
	.gnb-mobile,
	.gnb-mobile-overlay.opened {display:block}
	.post-item .post-item-img + .post-item-txt {padding:60px 0}
	.post-item .post-item-txt .tit {font-size:36px;line-height:48px}
	.post-item .post-item-txt .desc {font-size:16px;line-height:24px}
	.bx-wrapper .bx-controls {bottom:0}

	body.locked-scroll {padding-right:0}
	body.locked-scroll .layerPopup {left:0}
	#applyPop .layerBody {width:320px;height:410px;min-width:auto}
	.layerPopup .pop-title > h3 {font-size:24px}
	.layerPopup .pop-title > h3:before {bottom:6px}
	.layerPopup .pop-title {padding:30px 25px 20px}
	.layerPopup .pop-form {padding:0 25px}
	.layerPopup .pop-form textarea.pop-form-ipt {height:150px;margin-bottom:20px}
}
@media screen and (max-width:480px) {
	.nav__list li > a {letter-spacing:1px}
	.footer-contents .footer-logo {margin-bottom:8px}
	.footer-contents .footer-nav li a {line-height:1}
	.post-item .post-item-txt .tit {font-size:24px;line-height:32px}
	.post-item .post-item-txt .tit,
	.post-item .post-item-txt .desc {padding:0 20px}
	.post-item .post-item-txt .desc {font-size:15px;line-height:24px}
	.bx-wrapper .bx-controls {bottom:-8px}
}