@charset "UTF-8";
#slider .bx-pager, .slider-wrap .bx-pager {bottom:55px}
.mpSlider .bx-pager {bottom:6% !important}

.slider-btn {position:static;display:block;margin:20px auto 0;width:170px;text-align:center}
.slider-btn img {width:100%}

#snapdVisual > img {width:130%;margin-left:-15%}
#snapV01 {opacity:0;margin-left:-15px;position:absolute;bottom:20px;left:170px}
#snapV01 img {width:199.5px;height:284px}
#snapV02 {opacity:0;position:absolute;bottom:20px;left:170px}
#snapV02 img {width:199.5px;height:284px}
#snapV03 {opacity:0;margin-left:15px;position:absolute;bottom:20px;left:170px}
#snapV03 img {width:199.5px;height:284px}
#snapV04 {opacity:0;margin-left:-15px;position:absolute;bottom:53.5px;left:26.5px}
#snapV04 img {width:152px;height:99.5px}
#snapV05 {opacity:0;margin-left:15px;position:absolute;bottom:148.5px;left:317.5px}
#snapV05 img {width:168px;height:99.5px}
#snapVs {transform:scale(0.74);transform-origin:top left}

#snap01 > div {width:calc(100% - 20px);padding:30px 10px 30px 10px;text-align:left}
#snap3DCont01 {width:100%}
#snap3DCont01 strong {text-align:center;width:100%}
#snap3DCont01 ul {clear:both;width:100%}

#snap02 > div {width:100%}
#snap02 > div > img {width:100%}
#snap03 > div {width:calc(100% - 20px);padding:30px 10px}
#snap04 > div {width:100%}
#snap04 img {width:100%}
#snap04 ul li {width:calc(33.3% - 1px)}
#snap04 ul li img {width:100%;height:85px}

#mplayerVisual > img {width:130%;margin-left:-15%}
#mplayerVS {transform:scale(0.35);transform-origin:top left}
#mpalyerV05 {width:50%;right:-7%;bottom:8%}
#mpalyerV05 img {width:100%}
#mpalyerV06 {width:50%;right:-2%;bottom:7%}
#mpalyerV06 img {width:100%}

#mplayer01 > div {width:calc(100% - 20px);padding:30px 10px}
#mplayer01 ul li {margin:2.5%;width:calc(33.3% - 5%)}
#mplayer01 ul li img {width:100%}
#mplayer01 > div > span:nth-child(2) {margin:25px auto 35px auto}
#mplayer01 > div > span:nth-child(4) {margin:35px auto 25px auto}

#mplayer02 > div {width:100%}
#mplayer02 > div > img:nth-child(1) {width:100%}
#mplayer02 > div > img:nth-child(2) {width:calc(50% - 1px)}
#mplayer02 > div > img:nth-child(3) {width:50%}

#mplayer03 > div {width:calc(100% - 20px);padding:55px 10px 75px 10px}
#mplayer03 > div img {width:100%}
#mplayer03 span {width:90%;word-break:break-all}
#mplayerCont02 ul {width:90%}
#mplayer04 > div {width:100%}

.mpSlider {padding-bottom:0 !important}
.textTypeTtl01 {font-family:'Noto Sans KR';font-size:16.5px;color:#ed7c23;display:block}
.textTypeTtl02 {font-family:'Noto Sans KR';font-size:16.5px;color:#ed7c23;display:block}
.textTypeCont01 {font-family:'Nanum Gothic';font-size:10px;color:#ed7c23;display:block;line-height:15px}

/* #mplayerCont02 ul li {padding-left:12px;text-indent:-12px} */
.hd_pops_con {width:calc(100vw - 20px) !important;height:auto !important}
.hd_pops_con img {width:100% !important;height:auto !important}
