@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html{-webkit-text-size-adjust:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
margin:0;padding:0;border:0px;outline:0;vertical-align:baseline;background:transparent;font-family:'notokr-medium', Dotum, Helvetica, sans-serif;}
input{margin:0;padding:0;background-color:#fff;}
input[type=text],input[type=password],input[type=submit],input[type=search],textarea{-webkit-appearance:none;}
input[disabled], input[disabled]:hover{background-color:#eee;}
textarea{resize:none;}
body,h1,h2,h3,h4,input,button,textarea,select{font-size:0.75em;color:#333;font-family:'notokr-medium', Dotum, Helvetica, sans-serif;background:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
fieldset,img,abbr,acronym{border:0 none;}
ol,ul,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;border:0 none;}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle;}
address,caption,cite{font-weight:normal;font-style:normal;}
img{vertical-align:top;}
label,select,input,textarea{vertical-align:middle;}
a{text-decoration:none;color:#313030;}
a:hover{text-decoration:none;}
a:focus,a:active{text-decoration:none;}
address{display:inline-block;font-style:normal;font-weight:normal;}
button,label,.cursorPointer{cursor:pointer;}
*, ::after, ::before {box-sizing:border-box;}
.ellipsis_text{display:inline-block;*display:inline;*zoom:1;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.cap_hide{height:0px;overflow:hidden;font-size:0;text-indent:-100000000px;}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}