@charset "utf-8";
.bo-header .bo-title {margin:65px auto 30px;text-align:left}
.bo-header .bo-title > h2 {position:relative;display:inline-block;font-size:48px;letter-spacing:-0.5px;font-family:'notokr-black', sans-serif;text-transform:capitalize}
.bo-header .bo-title > h2:before {display:block;content:'';position:absolute;bottom:11px;left:0;width:100%;height:5px;background-color:#f57e28;background-image:linear-gradient(60deg, #f57e28 0%, #fff179 100%)}
.bo-header .bo-category {display:block;;float:left}
.bo-header .bo-category ul {position:relative}
.bo-header .bo-category ul:after {clear:both;display:block;content:''}
.bo-header .bo-category ul > li {position:relative;float:left;margin-left:25px}
.bo-header .bo-category ul > li:first-child {margin-left:0}
.bo-header .bo-category ul > li:after {position:absolute;display:block;content:'';top:6px;right:-13px;width:1px;height:11px;background-color:#c1c1c1}
.bo-header .bo-category ul > li:last-child:after {display:none}
.bo-header .bo-category ul > li > a {position:relative;font-size:15px;color:#888}
.bo-header .bo-category ul > li > a:hover {color:#333}
#bo_cate_on {font-family:'notokr-bold', sans-serif;color:#f57e28}
.bo-header .bo-search {position:relative;float:right;overflow:hidden;width:270px;margin:-5px 14px 20px 15px;border-bottom:2px solid #333}
.bo-header .bo-search .btn-input {display:block;width:230px;height:34px;padding-left:10px;line-height:34px;font-size:13.5px;color:#888;outline:0;background-color:none;border:none}
.bo-header .bo-search .btn-input:focus {color:#333}
.bo-header .bo-search .btn-input:focus + .btn-search {color:#f57e28}
.bo-header .bo-search .btn-search {position:absolute;top:0;right:0;width:40px;height:34px;line-height:34px;font-size:20px;outline:0;border:none;outline:0;transition:color 350ms ease}
.bo-contents {clear:both;margin-bottom:30px}
.bo-footer {clear:both;overflow:hidden}
.bo-footer .bo-paging {width:100%;clear:both;margin-bottom:10px;text-align:center}
.bo-footer .bo-paging .pg_page,
.bo-footer .bo-paging .pg_current,
.bo-footer .bo-paging .pg_start,
.bo-footer .bo-paging .pg_end,
.bo-footer .bo-paging .pg_prev,
.bo-footer .bo-paging .pg_next {position:relative;display:inline-block;margin:0;padding:0 15px;font-size:15px;line-height:34px;border:none;outline:0}
.bo-footer .bo-paging .pg_page:after,
.bo-footer .bo-paging .pg_current:after {position:absolute;display:block;content:'';top:12px;left:-2px;width:1px;height:11px;background-color:#c1c1c1}
.bo-footer .bo-paging .pg_page {color:#888;transition:color 400ms ease, background 400ms ease}
.bo-footer .bo-paging a.pg_page:hover {color:#333}
.bo-footer .bo-paging .pg_current {color:#f57e28}
.bo-footer .bo-paging .pg_start,
.bo-footer .bo-paging .pg_end,
.bo-footer .bo-paging .pg_prev,
.bo-footer .bo-paging .pg_next {width:34px;height:34px;margin:0 2px;padding:0;border-radius:50%;background-color:#f8f8f8}
.bo-footer .bo-paging .pg_start:hover,
.bo-footer .bo-paging .pg_end:hover,
.bo-footer .bo-paging .pg_prev:hover,
.bo-footer .bo-paging .pg_next:hover {color:#fff;background-color:#555}
.bo-footer .bo-paging .pg .pg_page:nth-child(1):after,
.bo-footer .bo-paging .pg_start + .pg_page:after,
.bo-footer .bo-paging .pg_prev + .pg_page:after {display:none}
.bo-footer .btn-chk-submit,
.bo-footer .btn-admin, .btns-common .btn-list {display:inline-block;margin:0;padding:8px 18px;border-radius:50px;font-size:13px;border:none;outline:0;cursor:pointer}
.bo-footer .btn-chk-submit {background-color:#f8f8f8;transition:color 400ms ease, background 400ms ease}
.bo-footer .btn-admin {color:#fff;background-color:#888}
.bo-footer .btn-chk-submit:hover,
.bo-footer .btn-admin:hover {color:#fff;background-color:#555}
.bo-footer ul {overflow:hidden}
.bo-footer ul li {display:inline-block;margin-left:5px}
.bo-footer ul li a {display:inline-block;margin:0;padding:8px 30px;border-radius:50px;font-size:15px;border:none;outline:0;color:#fff}
.bo-footer .btn-list {background-color:#888}
.bo-footer .btn-list:hover {color:#fff;background-color:#555}
.bo-footer .btn-write {background-color:#f57e28}
.bo-footer .btn-write:hover {background-color:#555}

#board-view {padding-bottom:28px;margin-bottom:45px;border-top:2px solid #666;border-bottom:1px solid #eee}
.bv-header {padding:25px 20px;text-align:center;border-bottom:1px solid #666}
.bv-header .bv-title {font-size:22px;letter-spacing:-0.5px;font-family:'notokr-bold', sans-serif;word-break:break-word}
.bv-header .bv-detail {display:block;margin-bottom:8px;font-size:14px;font-family:'notokr-medium', sans-serif;color:#888}
.bv-header .bv-model {display:inline-block;position:relative;margin-left:15px}
.bv-header .bv-model:before {position:absolute;display:block;content:'';top:4px;left:-8px;width:1px;height:9px;background-color:#c1c1c1}
.bv-contents {width:1024px;padding-top:20px;margin:0 auto 30px;text-align:center;line-height:1.6;word-break:break-word}
.bv-contents img, .bv-contents iframe {max-width:100%;margin-bottom:10px}
#bo_v_img {margin-bottom:20px}
#bo_v_img img {width:95% !important;height:auto}
.bv-contents .product-btn-buy {display:inline-block;padding:15px 60px;border-radius:65px;color:#fff;font-size:20px;background-color:#f27d2e}
.bv-contents .product-btn-buy:hover, .list-thumb li .product-btn-buy:active {background-color:#333}
.bv-contents .product-btn-buy.btn-paypal {width:350px;height:68px;max-width:82%;padding:0;border-radius:0;overflow:hidden;text-align:left;text-indent:-9999px;background:url('img/btn_buynow_paypal_pc.png') 0 0 no-repeat;background-size:contain}

.btns-admin {float:left}
.btns-admin ul, .btns-common ul {overflow:hidden}
.btns-admin ul li, .btns-common ul li {float:left;display:block;margin-right:7px}
.btns-common {text-align:center}
.btns-common > ul {display:inline-block}
.btns-default {clear:both;float:right;margin-top:15px}
.btns-common .btn-prev, .btns-common .btn-next,
.btns-default .btn-modify, .btns-default .btn-delete {display:inline-block;margin:0;padding:8px 18px;border-radius:50px;font-size:13px;border:none;outline:0;cursor:pointer;color:#333;background-color:#f8f8f8;transition:color 400ms ease, background 400ms ease}
.btns-common .btn-prev:hover, .btns-common .btn-next:hover,
.btns-default .btn-modify:hover, .btns-default .btn-delete:hover {color:#fff;background-color:#555}
.btns-common .btn-prev i {margin-right:4px}
.btns-common .btn-next i {margin-left:4px}

#fboardlist {display:block;clear:both}
.list-thumb {position:relative}
.list-thumb:after {clear:both;display:block;content:''}
.list-thumb li {float:left;box-sizing:border-box;width:31%;margin-left:3%;margin-bottom:60px;text-align:center}
.list-thumb li.empty_list {float:none;width:100%;height:200px;line-height:152px}
.list-thumb li:nth-child(3n+1) {clear:both;margin-left:0}
.list-thumb li:nth-child(7),
.list-thumb li:nth-child(8),
.list-thumb li:nth-child(9) {margin-bottom:28px}
.list-thumb li .list-item {margin-bottom:30px;box-shadow:0 25px 35px 0 rgba(0, 0, 0, 0.05);border:1px solid #f8f8f8;transition:all ease 350ms;transform:translateY(0)}
.list-thumb li:not(.empty_list) .list-item.enable-hover:hover {transform:translateY(-10px)}
.list-thumb li .list-item .item {display:block;position:relative}
.list-thumb li .thumb {position:relative;display:inline-block;overflow:hidden}
.list-thumb li .thumb > img {width:100%;max-width:100%;max-height:330px}
.list-thumb li .thumb > .noimg {display:table-cell;width:100%;height:210px;text-align:center;vertical-align:middle;background:#ECE9E6;background:linear-gradient(to bottom, #fff, #fbfbfb)}
.list-thumb li .info {clear:both;padding:0 24px 30px;letter-spacing:-0.5px}
.list-thumb li .info .cate {margin:2px 0 8px;font-size:12px}
.list-thumb li .info .cate > span {font-family:'notokr-medium';color:#888}
.list-thumb li .info .title {margin-bottom:8px;font-size:17px;font-family:'notokr-bold';word-break:break-word}
.list-thumb li .info .desc {line-height:18px;font-family:'Nunito';font-size:14px;font-weight:300;color:#888;word-break:break-word}
.list-thumb li .product-btn-buy {display:inline-block;padding:8px 24px;border-radius:30px;color:#fff;font-size:15px;background-color:#f27d2e}
.list-thumb li .product-btn-buy:hover, .list-thumb li .product-btn-buy:active {background-color:#333}
.list-thumb li .product-btn-buy.btn-paypal {width:198px;height:38.5px;padding:0;border-radius:0;overflow:hidden;text-align:left;text-indent:-9999px;background:url('img/btn_buynow_paypal.png') 0 0 no-repeat;background-size:contain}
.list-view {border-top:1px solid #333; line-height:28px}
.list-view .view-title {position:relative; min-height:97px; padding-left:28px}
.list-view .view-title h2 {width:815px; padding:30px 0 28px; font-size:26px; color:#333}
.list-view .view-title .info {position:absolute; right:0; top:37px; width:205px; padding-right:30px; text-align:right; font-size:13px; color:#989898; font-weight:300}
.list-view .view-title .info span {padding:0 10px; background:url('../images/company/line_news.gif') 0 0 no-repeat}
.list-view .view-title .info span:first-child {padding-left:0; background:none}
.list-view .view-cont {padding:80px 30px 70px 30px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;font-weight:300}
.list-view .view-cont .img {margin-bottom:82px}
.list-view .view-cont .center {text-align:center}
.list-view .view-cont .sub-title {margin-bottom:46px; font-size:18px; color:#333; line-height:36px; font-style:italic}
.list-view .view-cont p {font-weight:300}
.list-view .view-cont em {font-style:italic}
.list-view .view-cont .img {text-align:center}
.list-view .view-cont .description {display:block; margin-top:20px; text-align:center; font-size:13px; line-height:21px}
.list-view .bottom {padding-top:20px; text-align:right}
.list-view .bottom .btn {display:inline-block; height:43px; padding:0 35px; line-height:43px; border:1px solid #333; color:#333}

@media screen and (max-width:960px) {
	.bo-header .bo-title {margin:20px auto}
	.bo-header .bo-title > h2 {font-size:24px}
	.bo-header .bo-title > h2:before {bottom:4px;height:4px}
	.bo-header .bo-category {float:none;margin-bottom:25px}
	.bo-header .bo-search {float:none;width:auto;margin:0 0 15px}
	.bo-header .bo-search .btn-input {font-size:12.5px}
	.bo-header .bo-search .btn-search {right:5px}
	.list-thumb li {width:48%;margin-left:4%}
	.list-thumb li:nth-child(2n+1) {clear:left;margin-left:0 !important}
	.list-thumb li:nth-child(3n+1) {clear:none;margin-left:3%}
	.bv-contents {width:auto}
}
@media screen and (max-width:640px) {
	#mopicBoard {padding:0 15px}
	.bo-contents {margin-bottom:5px}
	.bo-header .bo-category {margin-bottom:10px}
	.bo-header .bo-category ul {border-top:2px solid #666}
	.bo-header .bo-category ul > li {width:50%;margin-left:0;text-align:center;border-bottom:1px solid #eee}
	.bo-header .bo-category ul > li a {display:block;padding:10px;font-size:13px;background-color:#fff;box-sizing:border-box}
	.bo-header .bo-category ul > li a#bo_cate_on {background-color:#fafafa}
	.bo-header .bo-category ul > li:after {display:none}
	.bo-header .bo-category ul > li:nth-child(2n+1) {clear:left}
	.bo-header .bo-category ul > li:nth-child(2n+1) a {border-right:1px solid #eee}
	.bo-header .bo-search {border-bottom:1px solid #666;background-color:#f9f9f9}
	.list-thumb li {width:100%;margin-left:0;margin-bottom:20px}
	.list-thumb li:nth-child(2n+1),
	.list-thumb li:nth-child(3n+1) {clear:none !important;margin-left:0 !important}
	.list-thumb li .thumb > img {width:auto;max-height:260px}
	.list-thumb li .list-item {margin-bottom:20px}
	.list-thumb li .info {padding:0 15px 25px}
	.list-thumb li .info .cate {margin:2px 0 5px}
	.list-thumb li .info .title {font-size:16px;margin-bottom:6px}
	.bv-header {padding:18px 10px}
	.bv-header .bv-title {font-size:18px}
	.bv-header .bv-detail {font-size:13px;margin-bottom:4px}
	#bo_v_img img {width:100% !important}
}