@charset "utf-8";
/* font */
@font-face {
    font-family:'notokr-thin';
    src: url('notokr-thin.woff2') format('woff2'),
         url('notokr-thin.woff') format('woff'),
         url('notokr-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'notokr-light';
    src: url('notokr-light.woff2') format('woff2'),
         url('notokr-light.woff') format('woff'),
         url('notokr-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'notokr-demilight';
    src: url('notokr-demilight.woff2') format('woff2'),
         url('notokr-demilight.woff') format('woff'),
         url('notokr-demilight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'notokr-regular';
    src: url('notokr-regular.woff2') format('woff2'),
         url('notokr-regular.woff') format('woff'),
         url('notokr-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'notokr-medium';
    src: url('notokr-medium.woff2') format('woff2'),
         url('notokr-medium.woff') format('woff'),
         url('notokr-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'notokr-bold';
    src: url('notokr-bold.woff2') format('woff2'),
         url('notokr-bold.woff') format('woff'),
         url('notokr-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'notokr-black';
    src: url('notokr-black.woff2') format('woff2'),
         url('notokr-black.woff') format('woff'),
         url('notokr-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}